.menu {
  display: flex;
  justify-content: center;
  font-size: 1em;
  max-width: 720px;
  color: #FAFAFF;
  user-select: none;
  margin: auto;
  height: 100%;
  width: 100%;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 50% 0;

    li {
      padding-bottom: 8px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        list-style-type: disclosure-closed;
      }

      a {
        text-decoration: none;

        &:visited, &:active {
          text-decoration: none;
          color: #FAFAFF;
        }
      }
    }
  }
}
