#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  max-width: 720px;
  user-select: none;
  margin: auto;
  height: 100%;
  width: 100%;

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fefefe;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    .nameTotal {
      margin-bottom: .5rem;

      .name {
        font-weight: 600;
      }
    }

    .config {
      margin-top: 1rem;
      display: flex;
      
      label {
        display: none;
      }
    }
  }
}
