* {
  outline: none;
  touch-action: manipulation;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #282c34;
  max-width: 720px;
  margin: auto;
}

#root {
  height: 100%;
}

.numbers-game {
  text-align: center;
  height: 100%;
}
